<style type="text/css">

p {font-size: 80%;}

pm {font-size: 100%;color:black}


dfp {font-size: 85% ;color:black;}
dfp6 {font-size: 60% ;color:blue;}
dfb {font-weight: bold; color:darkred;}



</style>